.Code{
  display: flex;
  justify-content: center;
}

.Peg{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  background: grey;
  color: grey;
  border: 1px grey solid;
  border-radius: 50%;
}