.Rows,
.Dot {
  display: flex;
  justify-content: center;
}

.Guesses {
  border: 2px solid silver;
  border-style: outset;
  padding: 0.25%;
  margin: 0.125%;
  margin-left: 0.25%;
  border-radius: 1rem;
  background: burlywood;  
}

.Dot {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 26px;
  width: 33px;
  margin: 1.75%;
  position: relative;
  left: 0.5%;
  background: white;
  border: 2px solid lightgrey;
  border-radius: 50%;
  border-style: outset;
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
