.Rows, .Dot{
  display: flex;
  justify-content: center;
}

.Dot {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 32.5px;
  margin:0.5%;
  position: relative;
  left: 0.5%;
  border: 1px solid black;
  border-radius: 50%;
}
