.Title{
  display: flex;
  justify-content: center;
  font-weight: bolder;
}

.Tagline{
  display: flex;
  justify-content: center;
  font-weight: lighter;
  font-size: x-small;
}

.Rules{
  display: flex;
  justify-content: center;
  font-weight: lighter;
}