.Hints {
  display: flex;
  flex-direction: column;
  margin-top: 0.5%;
  margin-left: 0.25%;
}

.HintRow {
  width: 30px;
  height: 30px;
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 50% 50%;
  padding-top: 10%;
  margin-left: 0.25%;
  margin-top: 1%;
  margin-bottom: 0.25%;
}

.Hint {
  justify-content: center;
  align-items: center;
  height: 6px;
  width: 6px;
  margin: 0.0625%;
  border: 1px solid black;
  border-radius: 50%;
}

#Hint_Y {
  color: black;
  background: black;
}

#Hint_P {
  color: rgb(100, 100, 100);
  background: rgb(100, 100, 100);
}
#Hint_N {
  color: rgb(200, 200, 200);
  background: rgb(200, 200, 200);
}
