.Row1,
.Row2 {
  display: flex;
  justify-content: center;
  margin-left: 1%;
  
}

.A-Peg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 31px;
  width: 31px;
  margin: 0.175%;
  margin-top: 0.25%;
  border-radius: 50%;
  border: 2px solid lightgrey;
  border-style: outset;
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.CheckOrX {
  font-weight: bolder;
  color: grey;
  height: 30px;
  width: 30px;
  margin-top: 0.25%;
  border-radius: 50%;
  margin-left: 0.9%;
}

#blackout{
  color: black;
  background: black;
}