.Row1, .Row2{
  display: flex;
  justify-content: center;
  margin-left: 0.125%;
}

.A-Peg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  margin: 0.125%;
  margin-top: 0.25%;
  border: 1px solid black;
  border-radius: 50%;
  color: transparent;
}

#Red {
  background: red;
}

#Orange{
  background: orange;
}

#Yellow {
  background: yellow;
}

#Green {
  background: green;
}

#Cyan {
  background: cyan;
}

#Blue {
  background: blue;
}

#Violet {
  background: purple;
}

#Magenta {
  background: magenta;
}