.Rows, .Dot{
  display: flex;
  flex-direction: ;
  justify-content: center;
}

.Dot {
  align-items: center;
  height: 30px;
  width: 30px;
  margin: 0.0625%;
  border: 1px solid black;
  border-radius: 50%;
}
